<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bradcaump__inner text-center">
          <h2 class="bradcaump-title">About Us</h2>
          <nav class="bradcaump-content">
            <a class="breadcrumb_item" href="index.html">Home</a>
            <span class="brd-separetor">/</span>
            <span class="breadcrumb_item active">About Us</span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start About Area -->
<br />
<br />
<section class="wn__team__area pb--75 bg--white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section__title--3 text-center">
          <h2 class="title__be--2">
            About <span class="color--theme">Project</span>
          </h2>
          <p>
            The idea behind this project
          </p>
        </div>
      </div>
    </div>
    <div class="post_content">
      <p>
        A project begins with ideas, then they are formed in steps. Many of the
        initial steps can be inexpensive or free. Being Students, idea of our
        project "BookStor-An online used book selling website" came into our
        mind. The idea was to provide books to the students with economical
        weaker background by selling the books at very nominal cost & also
        buying their used books.
      </p>
      <p>
        Our project is a website that work acts as a central book store, so that
        the user visiting the website can see a wide range of books arranged in
        respective categories. Bookstor provides students an oppotunity to find
        a place where they can find books of their use. BookStor is not just an
        e-commerce website, it's an another type of sales channel or a
        complementary traditional store.
      </p>
      <p>
        The initiative to build this project has been taken by the team of 4
        members. We tried to build a project that gives book lovers a platform
        where they can explore their desires,their need, their aspirations which
        can help them in many ways to build their career.
      </p>
      <p>
        We have worked as a team and tried to showcase a portal for the
        imagination. Readers extend and enhance the writer’s created work and
        they deepen the colors of it with their own imagination and life
        experiences.
      </p>
      <p>
        Teamwork is the fuel that allows common people to attain uncommon
        results, and here we welcome you all to explore this amazing world.
      </p>
      <h4 class="team">-:Team BookStor</h4>
    </div>
    <br />
    <br />
    <section class="wn__team__area pb--75 bg--white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section__title--3 text-center">
              <h2 class="title__be--2">
                Meet <span class="color--theme">our</span> team
              </h2>
              <p>The people who were behind this project</p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start Team Area -->
          <!-- Start Single Team -->
          <div class="wrapper">
            <img
              src="../../../assets/images/about/team/1.JPG"
              alt=""
              width="100px"
              height="350px"
              class="profile"
            />
            <h4 class="name">MOHMAD SABBAN</h4>
            <p class="center">Head</p>

            <ul class="team__social__net up">
              <li>
                <a href="https://github.com/MohmadSabban" target="_blank"
                  ><i class="fa fa-github orange g"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/mohmadsabban/"
                  target="_blank"
                  ><i class="fa fa-instagram orange i"></i
                ></a>
              </li>

              <li>
                <a
                  href="https://www.facebook.com/mohmad.sabban.5"
                  target="_blank"
                  ><i class="fa fa-facebook orange f"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- End Single Team -->
          <!-- Start Single Team -->
          <div class="wrapper">
            <img
              src="../../../assets/images/about/team/2.jpeg"
              alt=""
              width="100px"
              height="350px"
              class="profile"
            />
            <h4 class="name">DEEPANSHU BISHT</h4>
            <p class="center">Co-Founder</p>
            <ul class="team__social__net up">
              <li>
                <a href="https://github.com/Deepanshu18121996" target="_blank"
                  ><i class="fa fa-github orange g"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/deep_the_wanderer/"
                  target="_blank"
                  ><i class="fa fa-instagram orange i"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/deepanshu.bisht18/"
                  target="_blank"
                  ><i class="fa fa-facebook orange f"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- End Single Team -->
          <!-- Start Single Team -->
          <div class="wrapper">
            <img
              src="../../../assets/images/about/team/3.JPG"
              alt=""
              width="100px"
              height="350px"
              class="profile"
            />
            <h4 class="name">PREETY CHAUHAN</h4>
            <p class="center">Marketer</p>

            <ul class="team__social__net up">
              <li>
                <a href="https://github.com/preety55555" target="_blank"
                  ><i class="fa fa-github orange g"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/preety55555/" target="_blank"
                  ><i class="fa fa-instagram orange i"></i
                ></a>
              </li>

              <li>
                <a
                  href="https://www.facebook.com/preety.chauhan.12935"
                  target="_blank"
                  ><i class="fa fa-facebook orange f"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- End Single Team -->
          <!-- Start Single Team -->
          <div class="wrapper">
            <img
              src="../../../assets/images/about/team/4.JPG"
              alt=""
              width="100px"
              height="350px"
              class="profile"
            />
            <h4 class="name">ASHISH NEGI</h4>
            <p class="center">Store-Head</p>

            <ul class="team__social__net up">
              <li>
                <a
                  href="https://github.com/ashishnegi7088522931"
                  target="_blank"
                  ><i class="fa fa-github orange g"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/ashishnegi0000/"
                  target="_blank"
                  ><i class="fa fa-instagram orange i"></i
                ></a>
              </li>

              <li>
                <a
                  href="https://www.facebook.com/ashish.negi.3766"
                  target="_blank"
                  ><i class="fa fa-facebook orange f"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- End Single Team -->
        </div>
      </div>
    </section>
    <!-- End Team Area -->
  </div>
</section>
<!-- End About Area -->
