<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class=" bg-image--sabban">
      <div class="container">
        <div class="row text animated bounce">
          <div class="col-lg-12">
            <div class="slider__content">
              <div class="contentbox custom">
                <h2>Buy <span class="orange">your </span></h2>
                <h2>favourite <span class="orange">Book </span></h2>
                <h2>from <span class="orange">Here </span></h2>
                <a class="shopbtn" routerLink="books">shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class=" bg-image--deep">
      <div class="container">
        <div class="row text animated ">
          <div class="col-lg-12">
            <div class="slider__content">
              <div class="contentbox custom">
                <h2>Buy <span class="orange">your </span></h2>
                <h2>favourite <span class="orange">Book </span></h2>
                <h2>from <span class="orange">Here </span></h2>
                <a class="shopbtn" routerLink="books">shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="bg-image--preety">
      <div class="container">
        <div class="row text animated ">
          <div class="col-lg-12">
            <div class="slider__content">
              <div class="contentbox custom">
                <h2>Buy <span class="orange">your </span></h2>
                <h2>favourite <span class="orange">Book </span></h2>
                <h2>from <span class="orange">Here </span></h2>
                <a class="shopbtn" routerLink="books">shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div> -->
    </div>
  </ng-template>
</ngb-carousel>